@import "compass/css3/transform";

@mixin setChecked($c:#FFFFFF) {
    display: inline-block;
    content: '';
    width: 4px;
    height: 8px;
    border-bottom: 2px solid $c;
    border-right: 2px solid $c;
    @include transform(translate(0, 0) rotate(45deg));       // compass css3
}

@mixin  setCheckedAbs($c:#FFFFFF) {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 4px;
    height: 8px;
    border-bottom: 2px solid $c;
    border-right: 2px solid $c;
    @include transform(translate(-50%, -65%) rotate(45deg));    // compass css3
}