<<<<<<< HEAD
@import "./fn";
=======
﻿@import "fn";
>>>>>>> c1fabd6d7d7e228dc799e6c2bd761fae039508ff

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    line-height: 1.6;
    font-family: $sansFont;
}

* {
    margin: 0;
    padding: 0;
}

a img {
    border: 0;
}

a {
    text-decoration: none;
}