@import "../../base/fn";

$lineColor: #E5E5E5;
$grayColor: #999999;

.#{$ns}media_box {
    padding: 15px;
    position: relative;
    &:before {
        @include setTopLine($lineColor);
        left: 15px;
    }
    &:first-child {
        &:before {
            display: none
        }
    }
    .#{$ns}media_title {
        font-weight: 400;
        font-size: 17px;
        @include ellipsis();
        word-wrap: break-word;
        word-break: break-all;
    }
    .#{$ns}media_desc {
        color: $grayColor;
        font-size: 13px;
        line-height: 1.2;
        @include ellipsisLn(2);
    }

    &.#{$ns}media_text {
        .#{$ns}media_title {
            margin-bottom: 8px;
        }
        .#{$ns}media_info {
            margin-top: 15px;
            padding-bottom: 5px;
            font-size: 13px;
            color: #CECECE;
            line-height: 1em;
            list-style: none;
            overflow: hidden;
        }
        .#{$ns}media_info_meta {
            float: left;
            padding-right: 1em;
            &.#{$ns}media_info_meta_extra {
                padding-left: 1em;
                border-left: 1px solid #CECECE;
            }
        }
    }
    &.#{$ns}media_appmsg {
        display: flex;
        align-items: center;
        .#{$ns}media_hd {
            margin-right: .8em;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
        }
        .#{$ns}media_appmsg_thumb {
            width: 100%;
            max-height: 100%;
            vertical-align: middle;
        }
        .#{$ns}media_bd {
            flex: 1;
            min-width: 0;
        }
    }
    &.#{$ns}media_small_appmsg {
        padding: 0;
        .weui_cells {
            margin-top: 0;
            &:before {
                display: none;
            }
        }
        .weui_cells_access {
        }
    }
}

a.#{$ns}media_box {
    color:#000000;
    @include setTapColor();
    &:active {
        background-color: #ECECEC;
    }
}